
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: imports-css(title='Pedidos')}">
        <title>title</title>
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='pedidos')}"/>
        <div class="container" style="margin-top: 20px">
            <div class="card-header" style="border-radius: 10px ">
                <h4>Pedidos Realizdos
                    <a class="btn btn-primary float-right" th:href="@{~/pedidos/pedido}" role="button">Novo Pedido</a>
                </h4>
            </div><br>


            <div class="card bg-dark text-white" th:each="pedido : ${pedidos}" style="border-radius: 10px ; margin-bottom: 4px">
                <div class="card-body">

                    <div class="card-text">
                        <span>ID:</span>
                        <span th:text="${pedido.id}"></span>
                    </div>
                    <div class="card-text">
                        <span>Cliente:</span>
                        <span th:text="${pedido.cliente.nome}"></span>
                    </div>
                    <div class="card-text">
                        <span>Funcionario:</span>
                        <span th:text="${pedido.funcionario.nome}"></span>
                    </div>
                    <div class="card-text">
                        <span>Data:</span>
                        <span th:text="${pedido.datahora.get(5)+'/'+(pedido.datahora.get(2)+1)+'/'+pedido.datahora.get(1)}"></span>
                       
                    </div>
                </div>
                
                

            </div>

        </div>

        <div th:replace="~{fragmentos :: imports-js}"/>
    </body>
</html>